:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading-text: #1b0760;
    --color-body-text :#908aa7;
}

/* Mobile View */

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    /* margin: 0; */
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body-text);
    font-size: 2.4rem;
}


h1, 
h2,
h3 {
    color: var(--color-heading-text);
    margin-bottom: 1.5rem;
}

h1 {    
    /* 1 x font size of html element */
    /* Now 1rem = 10px */
    font-size: 7rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

@media screen and (width >= 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}
.link-arrow {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.link-arrow::after {
    content: '-->'; 
    margin-left: 7px;
    transition: margin-left 0.15s;
}
.link-arrow:hover::after {  
    margin-left: 12px;
    
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 2rem;
    white-space: nowrap; 
    font-size: 2rem;
}
.badge--primary {
    background-color: var(--color-primary);
}
.badge--secondary {
    background-color: var(--color-secondary);
}
.badge--small {
    font-size: 1.6rem; 
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem; 
    }
}
