<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Block Element 1</h2>
        <p class="block__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa rem voluptas eius accusantium, fuga
            accusamus.
        </p>
    </header>
</section>
<section class="block block--darker block--skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Block Element 1</h2>
            <p class="block__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa rem voluptas eius accusantium, fuga
                accusamus.
            </p>
        </header>
    </div>
</section>