<section class="block container">
    <header class="block__header">
        <h2>Starting at $10 per month</h2>
        <p class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, exercitationem?
        </p>
    </header>
    <div class="input-group input-group--shadow domain-block">
        <input type="text" name="" placeholder="Enter domain name here..." class="input">
        <!-- <button class="btn btn--accent">Search</button> -->
        <button class="btn-icon btn btn--accent" type="submit">
            <svg class="icon svg-color-icon-W">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>Search</span>
        </button>
    </div>

    <ul class="list domain-block__price">
        <li><span class="badge badge--secondary">.com 17.91</span></li>
        <li>.com 27.91</li>
        <li>.com 37.91</li>
        <li>.com 47.91</li>
        <li>.com 57.91</li>
        <li>.com 67.91</li>
        <li>.com 100.91</li>
    </ul>

</section>