<div class="block block--footer footer--dark">
    <div class="container grid grid--1x5">
        <div class="footer__brand">
            <a href="/"><img class="logo__icon" src="/images/logo.svg" alt="Moshify Logo" /></a>
            <p class="copyright">Copyright &copy; 2020 vhack</p>
        </div>

        <div class="collapsible">
            <div class="collapsible__header">
                <h3 class="footer__heading">Products</h3>
                <span class="icon-container collapsible--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
            </div>
            <div class="collapsible__list">
                <ul class="list">
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Website Hosting </a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Free Automated</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Wordpress</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Migrations </a></li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <div class="collapsible__header">
                <h3 class="footer__heading">Company</h3>
                <span class="icon-container collapsible--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
            </div>
            <div class="collapsible__list">
                <ul class="list">
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Website Hosting </a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Free Automated </a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Wordpress</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Migrations </a></li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <div class="collapsible__header">
                <h3 class="footer__heading">Support</h3>
                <span class="icon-container collapsible--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
            </div>
            <div class="collapsible__list">
                <ul class="list">
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Website Hosting </a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Free Automated</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Wordpress</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Migrations </a></li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <div class="collapsible__header">
                <h3 class="footer__heading">Domain</h3>
                <span class="icon-container collapsible--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
            </div>
            <div class="collapsible__list">
                <ul class="list">
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Website Hosting </a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Free Automated</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Wordpress</a></li>
                    <li class="list__item"><a class="collapsible__list-item" href="#"> Migrations </a></li>
                </ul>
            </div>
        </div>


    </div>
</div>