<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary" style="fill:#fff;">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h4 class="media__title">Easy Start & Managed Updates</h4>
        <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ipsam necessitatibus rerum eum ex illo
            libero quam nemo maxime vero.
        </p>
    </div>
</div>