<div class="nav nav--black">
    <a href="/"><img class="logo__icon" src="/images/logo.svg" alt="Moshify Logo" /></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <div class="nav__list nav-collapsible-content">
        <ul class="list">
            <li class="nav__item"><a href="#"> Hosting</a></li>
            <li class="nav__item"><a href="#"> VPS</a></li>
            <li class="nav__item"><a href="#"> Domain </a></li>
            <li class="nav__item"><a href="#"> Pricing </a></li>
        </ul>
    </div>
</div>