<div class="quotes">
    <p class="quotes__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam id facere neque labore mollitia ullam deleniti quam eum quia exercitationem, fugit quis, odit velit quasi possimus placeat quibusdam est ex tenetur laboriosam. Deleniti eligendi architecto sint esse nam dolorum quod veritatis! Corrupti illo temporibus magni perspiciatis quae minus natus dolorum!
    </p>
    
    <div class="media">
        <div class="media__image">
            <svg class="icon icon--primary" style="fill:#fff;">
                <use xlink:href="images/sprite.svg#line"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="media__description quote__organization">ABC Company, CEO</p>
        </div>
    </div>
</div>    