<section class="block showcase block--darker block--skewed-left">
    <header class="block__header">
        <h2 class="block__heading">User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="showcase__picture">
            <source type="image/webp" srcset="/images/ipad.webp 1x, /images/ipad@2x.webp 2x">
            <source type="image/jpeg" srcset="/images/ipad.jpg 1x, /images/ipad@2x.jpg 2x">
            <img src="/images/ipad.png" alt="" class="showcase__image">
        </picture>

        <div class="showcase__content">
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="/images/sprite.svg#growth"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h4 class="media__title">Easy Start & Managed Updates</h4>
                    <p class="media__description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ipsam necessitatibus
                        rerum
                        eum ex illo libero quam nemo maxime vero.
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="/images/sprite.svg#growth"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h4 class="media__title">Staging, GIT & WP-CLI</h4>
                    <p class="media__description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ipsam necessitatibus
                        rerum
                        eum ex illo libero quam nemo maxime vero.
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="/images/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h4 class="media__title">Dynamic Caching & More</h4>
                    <p class="media__description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ipsam necessitatibus
                        rerum
                        eum ex illo libero quam nemo maxime vero.
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>