<div class="grid grid--1x2 card testimonial">        
    <div class="testimonial__image">
        <span class="icon-container icon-container--accent">
            <svg class="icon icon--small icon--white">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
        </span>
        <img src="/images/testimonial.jpg" alt="A man with his quotes">
    </div>
    
    <div class="quotes">
        <p class="quotes__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio officiis dolore earum error eaque perferendis laudantium sed praesentium dolorum
        </p>
        
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary" style="fill:#fff;">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="media__description quote__organization">ABC Company, CEO</p>
            </div>
        </div>
    </div>    
    
</div>